{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <h2>Languages</h2>
                    <div class="Languages">
                        {% for language in language %}
                            <div class="Language">
                                <h4>
                                    <a href="{{ url_for('article_subj', id=language.id) }}">{{ language.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2>Subjects</h2>
                    <div class="Others">
                        {% for other in other %}
                            <div class="Others">
                                <h4>
                                    <a href="{{ url_for('article_subj', id=other.id) }}">{{ other.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h4>All Articles</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h1>Articles</h1>
                <br>
                <div class="article_list">
                    <h4>
                        Articles are more in-depth explanations about concepts covered in Codecademy courses.
                        Here you'll learn more about workflows that developers use every day,
                        and take your coding skills to the next level.
                    </h4>
                    <br>
                    <h3>Most Viewed Articles</h3>
                    {% for article in articles %}
                        <div class="Article">
                            <a href="{{ url_for('article_content', id=article.id)}}">{{ article.name }}</a>
                            By {{ article.author }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
