{% extends "base.html.j2" %}
{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <h2>Languages</h2>
                    <div class="Languages">
                        {% for language in language %}
                            <div class="Language">
                                <h4>
                                    <a href="{{ url_for('catalog_subj', id=language.id) }}">{{ language.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2>Subjects</h2>
                    <div class="Others">
                        {% for other in other %}
                            <div class="Others">
                                <h4>
                                    <a href="{{ url_for('catalog_subj', id=other.id) }}">{{ other.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h4>
                        <a href="{{ url_for('catalog_cour') }}">Full Catalog</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h1>{{ subject.name }}</h1>
                <h3>{{ subject.description }}</h3>
                <h2>Courses</h2>
                {% for course in courses %}
                    <div class="Courses">
                        <h3>
                            <a href="{{ url_for('course', id=course.id) }}">{{ course.coursename }}</a>
                        </h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
