<footer class="row row-cols-5 py-5 my-0 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2021</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>

    <div class="col">
      <h5>CODECADEMY</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For Business</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shop</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stories</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">We're Hiring</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Catalog</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">BY LANGUAGE</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HTML &amp; CSS</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Python</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Javascript</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Java</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Chapters</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For Business</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shop</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stories</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">We're Hiring</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Chat</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">BY LANGUAGE</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HTML &amp; CSS</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Python</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Javascript</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Java</a></li>
      </ul>
    </div>
  </footer>

