{% extends "base.html.j2" %}
{% block app_content %}
    <style>
      .Subjects_cat {
        display: flex;
        flex-wrap: wrap;
        gap: 20px
      }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <h2>Languages</h2>
                    <div class="Languages">
                        {% for language in language %}
                            <div class="Language">
                                <h4>
                                    <a href="{{ url_for('Projects_subj', id=language.id) }}">{{ language.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2>Subjects</h2>
                    <div class="Others">
                        {% for other in other %}
                            <div class="Others">
                                <h4>
                                    <a href="{{ url_for('Projects_subj', id=other.id) }}">{{ other.name }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h4>
                        <a href="{{ url_for('Projects') }}">Project Home</a>
                    </h4>
                    </div>
                </div>
                <div class="col-md-9">
                    <h1>Projects in {{ subject.name }}</h1>
                    <h3>All Projects in {{ subject.name }}</h3>
                    <div class="projects">
                    {% for project in projects %}
                        <div class="Project">
                        <h4>{{ project.projectname }}</h4>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}